Remove {id/did} from default oauth URLS (authorize, callback, token, etc)

OAuth2 says something about these urls, investigate and remove path params when needed. For callback this isn't a problem since the state already determines the client_id (did).

Need to check whether a ID is allowed in these URLs by OAuth2. If not, we need it in the v6 milestone. If allowed, we can fix this later.

@gerardsn I think you checked this?

[RFC6749 §3.1.2](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.1.2).2
> The authorization server SHOULD require the client to provide the
complete redirection URI (the client MAY use the "state" request
parameter to achieve per-request customization). If requiring the
registration of the complete redirection URI is not possible, the
authorization server SHOULD require the registration of the URI
scheme, authority, and path (allowing the client to dynamically vary
only the query component of the redirection URI when requesting
authorization).

The main argument is security, to prevent registering redirect_uri `*.my.domain/*` that could end up matching to something like `dr.evil/now.on.my.domain`. However, we concluded last time that the `{did}` in the path is not dynamic from the client perspective. Each client has 1 fixed redirect_uri.

(RFC6749 also mentions that public clients MUST register their redirect_uris, which is also a requirement in OAuth 2.1. The above unfortunately could also mean that we have to register each individual client with all of the other clients, or perhaps only on the first interaction. This deserves some more attention.)

I couldn't find any credible source making a comment on dynamic paramaters in the `authorize` and `token` endpoints. These endpoint belong to the AS that needs to decide if a client is trusted, not the other way.

for what it's worth, only the `authorize` request actually uses the path param....