Migrate /.well-known/ to root of the path

From [RFC8615 Well-Known Uniform Resource Identifiers (URIs)](https://www.rfc-editor.org/rfc/rfc8615#section-3)
> Well-known URIs are rooted in the top of the path's hierarchy; they
   are not well-known by definition in other parts of the path.  For
   example, "/.well-known/example" is a well-known URI, whereas
   "/foo/.well-known/example" is not.

We currently have our `.well-known` URIs defined at `<domain>/n2n/identity/<did>/.well-known/...` where they are only well-known to the nuts node.

[RFC8414  OAuth 2.0 Authorization Server Metadata](https://www.rfc-editor.org/rfc/rfc8414.html#section-3.1) provides the following solution for multi-tenancy:
>  If the issuer identifier value contains a path component, any
   terminating "/" MUST be removed before inserting "/.well-known/" and
   the well-known URI suffix between the host component and the path
   component.  The client would make the following request when the
   issuer identifier is "https://example.com/issuer1" and the well-known
   URI suffix is "oauth-authorization-server" to obtain the metadata,
   since the issuer identifier contains a path component:
>
>     GET /.well-known/oauth-authorization-server/issuer1 HTTP/1.1
>     Host: example.com
>
>   Using path components enables supporting multiple issuers per host.
   This is required in some multi-tenant hosting configurations.  This
   use of ".well-known" is for supporting multiple issuers per host;
   unlike its use in RFC 5785, it does not provide general
   information about the host.

Following this, we should host our identities (or issuers) at `<domain>/<did>` or `<domain>/identity/<did>` to allow prefix routing. The `/.well-known/` endpoints can then be found at `<domain>/.well-known/<item>/identity/<did>`.

The well-known `<item>` cannot contain a `/` so there is no confusion on what is part of the well-known and what is part of the issuer/identity. From [RFC5785](https://www.rfc-editor.org/rfc/rfc8615#section-3) and [RFC8615](https://www.rfc-editor.org/rfc/rfc8615#section-3):
>Registered names MUST conform to the "segment-nz" production in RFC3986.  This means they cannot contain the "/" character.

Actual support by OAuth implementations for this feature is unknown to me. Same goes for non-OAuth usages. (Probably) All examples I have encountered expect the `/.well-known/` to live at the root, but I have not seen the multi-tenancy support before. This may need some additional research.

---
**Prefix routing:**
This would require adding `/.well-known`, and `/identity` or maybe `/did:` to our prefix routing scheme and proxy instructions, making adoption harder. In terms of access they are probably equivalent to `/public`.

**Migration:**
All versions from node v5.4.0 until we change this will expect the `.well-known` at its current locations. For backwards compatibility we need to keep supporting the old paths for a while.

**Other:**
The current paths were chosen for a reason. Please add what else is relevant for this discussion.

Since we fallback to issuing over the Nuts network, I think we can just change it in v5.5.0. And we should do so a.s.a.p., since people probably haven't upgraded to v5.4.0 yet (and thus should upgrade directly to v5.5.0).

I don't think we need the `/identity` in between, since that specifies what service the path exposes. But the well-known `<item>` already does that. So our URLs get shorter 👍 

We still need to decide where we host our OAuth2 & friends APIs though. Could still be `/identity/<did>`

[did:web's did.json](https://w3c-ccg.github.io/did-method-web/#create-register) and [.well-known/did-configuration.json](https://identity.foundation/.well-known/resources/did-configuration/#did-configuration-uri) both expect `/.well-know/` to be at the root of the path too, but did:web just drops the `/.well-known/` if there is an issuer/identifier in the path:
```
did:web:w3c-ccg.github.io
 -> https://w3c-ccg.github.io/.well-known/did.json
```
or with identifier
```
did:web:w3c-ccg.github.io:user:alice
 -> https://w3c-ccg.github.io/user/alice/did.json
```

There might not be single solution suited for all well-knowns...

[EBSI](https://api-conformance.ebsi.eu/docs/ct/providers-and-wallets-metadata#organisational-wallets) says the following
> Organisational Wallets
Server based Client's Entity Identifiers must always be in the format of HTTPS URL. The metadata can be found by concatenating the Entity Identifier client_id with /.well-known/x-y-z. Any terminating / must be removed before joining.

It doesn't mention anything about an identifier in the path, but it seems to suggest what we currently have.

I don't see any problems with did:web and did-configuration. did:web specifies the did documents to not reside under .well-known (when having tenants). did-configuration just says you must post a list of VCs under .well-known/did-configuration.json. That doesn't mean that the dids used in that file need to be resolvable under .well-known

That's right, so in other words as long as we use always subpaths, we're compliant with the spec (since they're not well-known endpoints in that case).

We're decoupling the issuer URL from the did:web, requiring callers to pass the OAuth2 AS url (to be resolved elsewhere, e.g. DID documment). New path form is `https://<domain>/oauth2/<did>` (which nicely fits in the API structure).