Incorrect validity for access token

§5.2 of RFC003 states that access token can't be valid for longer than 60 seconds.

The node in oauth.go:

```accessToken.Expiration = time.Now().Add(time.Minute * 15).UTC().Unix() // Expires in 15 minutes```