Transactions creation/parsing is incorrect

(The following holds for node v3.0.0)
Creation
The node publishes v1 transactions (RFC004) that contain an extra header 'lc'.
This extra header is required by v2 transactions (RFC0016). In addition to this, v2 requires the `lc` to be added to the `crit` header and lc calculation for v1 transactions. (Lc calculation is deterministic. -> Defined as 'highest lc of all prevs' + 1)

Parsing
Transactions are parsed as v1 and are expected to contain an `lc` header. This is not part of the v1 spec, but parsing fails without it.
These transactions cannot be parsed as v2 since the `lc` is missing in `crit`.

Issues/Concerns
- Transaction creation or parsing does not meet either spec. Currently everything works since we are providing the only existing implementation, but if someone decides to build one according to the specs, our node will fail.
- Once there exists a specific version of a transaction on the dag, this version will always have to be supported. Keeping the current networks means that v1 transactions will always have to be supported in full.
- V2 specs are incomplete. What should be done if v1 tx contains lc header? Should the lc value be verified? If so, how and for what versions?

Possible solutions
- Conform to specs by checking transaction version and parsing according to this
- Big bang that deprecates v1 transactions
- Add the lc to RFC004 to match wat node v3 does, this is a bit of a hack and probably violates JWS RFC7515

A future feature could be garbage collection/ DAG compaction. All DID documents will have a new version every x months. VCs will also be valid for x months/years. Meaning that somewhere in the future old stuff can be removed!