Missing protocol version metadata header in network

In RFC005 section 6.4 the docs state:

> When connecting, the node and peer MUST exchange their protocol version as version metadata header. When either side received a version that's not equal to 1 it MUST close the connection.

However, this doesn't seem to be implemented.